@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Alata", system-ui;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
.hole-content{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin: 10px;
}
body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;

}
.container-nav{
    height: 8vh;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
}
#name-des{
    text-indent: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    color: white;
    
}
h1 span{
    color:  orangered;
}
.content-menus{
    display: flex;
    width: 45%;
    justify-content: space-around;
    background-color: white;
    border-radius: 15pc;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; 
    top: 0%;
    margin-top: -7px;
    padding: 20px;
    z-index: 100;
}
.fon{
    font-size: 15px;
}
.content-menus a{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: black;
   
   
}
.action-button{
    display: none;
}
.big{
    font-size: 10px;
   }
.nav-button{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bt1,#bt2{
    background-color: orangered;
    width: 100px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    transition: all 800ms;

}
.content-menus a:hover{
   
    background-color: black;
    color: white;
}
.content-intro{
    display: flex;
    color: white;
    gap: 10px;
    justify-content: space-around;
    /* height: 600px; */
    align-items: center;
}
.content-image{
    width: 30%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
}
#img-profile{
    height:300px;
    width:300px;
    border-radius: 50%;
}
.content-abourname{
    width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#s1{
    color: white;
}
#name{
    
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    /* font-weight: 90px; */
    
}
#area{
    font-family: "Alata", system-ui;
    color: rgb(192, 190, 190);
}
#bt1:hover{
    color: orangered;
    background-color: white;
    border: 2px solid orangered;
}
#bt2:hover{
    color: orangered;
    background-color: white;
    border: 2px solid orangered;
}
#area{
    font-size: 15px;
    text-align: justify;
}
.content-abourname > #qualification{
    color: rgb(226, 92, 43);
   
    
}
#s1:hover{
    color: black;

}
.content-skills{
    height:833px;
    width: 100%;
    padding: 20px;
    display: flex;
    background-image:url(./Images/2204ad0946a543328f5788a881d8034b_323309319_3357274307873534_2844728125635782235_n.webp); 
     background-size: cover;
     background-position: center;
     opacity: 1;
     transition: all 600ms; 
     z-index: 1 ; 
}

.back{
    width: 100%;
    height: 100%;
    border-radius: 0%;
    background-position: cover;
}
.box{
    display: flex;
    flex-direction: column;
    right: 20px;
    bottom: 10px;
    position: fixed;
  
}
#t1{
    height: 30px;
    width: 30px;
}
.blur-box{

    position: absolute;
    z-index: 100;
    color: white;
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 600px;
    width: 80%;
    /* border: 2px solid red; */
    /* margin:auto; */
    /* filter: blur(10px); */
   
   
}
.content-qualification{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box-child1,.box-child2{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    transition: all 0.06s linear;
    transform: all 600ms;
  
}
.childblur:hover{
    color: white;
    box-shadow: 0px 0px 10px white;
}
.blur-box:hover > :not(:hover){
    opacity: 0.4;
}
.box-child1:hover > :not(:hover){
    opacity: 0.4;
    scale: 0.8;
    
}
.box-child2:hover > :not(:hover){
    opacity: 0.4;
    scale: 0.8;
}
.childblur{
    height: 15pc;
    width: 10pc;
    border-radius: 3.5pc;
    /* background-color: rgb(253, 2, 2);  */
    /* background: linear-gradient(87.4deg, rgb(120, 36, 5) 1.9%, rgb(200, 125, 76) 49.7%, rgb(83, 54, 54) 100.5%); */
    background: linear-gradient(109.6deg, rgb(114, 99, 99) 32.4%, rgb(137, 30, 47) 98.8%);
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: center;
    color: black;
    transition: opacity 0.6s ease;

}
#image-icon{
    height: 50px;
    width: 50px;
}
.content-about{
    height: 710px;
    display: flex;
    flex-direction: column;
    

}
.content-self{
    display: flex;
    height: 610px;
    justify-content: space-evenly;
    align-items: center;
    
}
.content{
    /* background-color: aqua; */
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
}
i{
    color: black;
    font-size: 10px;
    margin: 1px;

}
#smal-text{
    color: orangered;
}
article, footer, .container-follow,section,.content-intro,.content-about,.project-details{
    height:800px;;
}
.project-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article, footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 350px; 
 
 
    
}
form #place-holder{
    width: 400px;
    padding: 10px;
    border-radius: 30px;
    outline: none;
}
#place-holderMessage{
   
    border-radius: 30px;
    outline: none;
    height: 88px;
    width: 400px;
  
}
form  #submit{
    padding: 10px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(to right, orangered,red); 
    
}

.box-contact{
    height: 400px;
    width: 600px;
    backdrop-filter: blur(90px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: -11; */
   
}
.container-follow{
    display: flex;
    height: 400px;
}
.box-follow1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 60%;
}
#Follow{
    font-size:150px;
}
.box-follow2{
    height: 612px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#i{
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    font-size: 50px;
    margin: 10px;
}
.line{
    width: 100%;
    border-bottom:2px solid white ;
}
.head-tittle{
    font-size: 50px;
    text-align: center;
}
.side1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.but-anim{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
#bclick{
    background: none;
    border: none;
}
.animi{
    padding: 10px;
    transition: color 0.5s linear;
    cursor: pointer;
    position: relative;
    z-index: 100;
    border: none;
    background-color: orangered;
    border-radius: 10px;
}
.animi:hover{
    color: rgb(0, 0, 0);
    
}
.animi::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgb(255, 253, 253);
    transition: transform 0.5s;
    transform-origin: 0 0;
  z-index: -1;
    transition-timing-function: linear;
    border-radius: 10px;
   

}
.btn::before{
    transform: scaleX(0);
}
.btn:hover::before{
    transform:scaleX(1);
  
}
.ProjectContent{
    width: 60%;
    border: 2px solid orangered;
    padding: 10px;
}


@media only screen and (min-width:320px) and (max-width:720px) {
    .content-name{
        display: none;
    }

    .hole-content{
        gap:50px;
    }
    .container-nav {
        height: 8vh;
        width: 100%;
        /* background-color: white; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 100;
    }
    .but-anim{
        width: 80%;
    }
    .btn{
        padding: 8px;
        font-size: 10px;
    }
  
    .content-menus{
        display: none; 
        position: absolute;
        flex-direction: column;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%; 
        width: 100%;
        height: 400%;
        right: 0px;
        top: 0px;
        align-items: center;
        z-index: 1;
        /* height: 100vh; */
    }
    .content-abourname{
        width: 50%;
        height: 74vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
    #bt1{
        display: none;
    }
    .content-intro {
        flex-direction: column-reverse;
        color: white;
        gap: 20px;
      
        align-items: center;
    }
    .content-skills{
        height:1000px;
        width: 100%;
        
    }
    .content-abourname {
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .content-image {
        width: 100%;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #name-des {
        text-indent: 10px;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        color: white;
        background-color: rgb(0, 0, 0);
        border-radius: 3pc;
        padding: 5px;
        border: 1px solid white;
        padding-right: 30px;
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
        border-top-right-radius: 0%;
    }
    .content-about {
        display: flex;
    }
    .content-self {
        height: 383px;
    }
    .content {
        /* background-color: aqua; */
        width: 70%;
        padding: 10px;
        color: white;
    }
    .blur-box {
        color: white;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 600px;
        width: 80%;
        /* border: 2px solid red; */
        /* margin: auto; */
        /* filter: blur(10px); */
    }
    .box-child1, .box-child2 {
        width: 100%;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        transition: all 0.06s ease-in-out;
        transform: all 600ms;
    }
    .childblur {
        height: 6pc;
        width: 11pc;
        border-radius: 2.5pc
        /* background-color: rgb(253, 2, 2); */
        /* background: linear-gradient(87.4deg, rgb(120, 36, 5) 1.9%, rgb(200, 125, 76) 49.7%, rgb(83, 54, 54) 100.5%); */
       /* background: linear-gradient(109.6deg, rgb(114, 99, 99) 32.4%, rgb(137, 30, 47) 98.8%);*/
        /* display: flex;
        flex-direction: column; */
    }
    #image-icon {
        height: 20px;
        width: 20px;
    }
    .project-details {
       width: 100%;
    }
    .box-contact {
        height: 400px;
        width: 80%;
        backdrop-filter: blur(90px);
        display: flex;
        justify-content: center;
        align-items: center;
        /* z-index: -11; */
    }
    form #place-holder {
        width: 100%;
        padding: 10px;
        border-radius: 30px;
        outline: none;
    }
    form {
        width: 100%;
    }
    article, footer {
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px; */
        width: 100%;
    }
    #place-holderMessage {
        /* border-radius: 30px;
        outline: none;
        height: 88px;
        width: 400px; */
        width: 100%;
    }
    .container-follow {
        /* display: flex;
        height: 400px; */
        width: 100%;
        flex-direction: column;
    }
    #Follow {
        font-size: 50px;
    }
    
    .box-follow1 {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 60%; */
    width: 100%;
    }
    .box-follow2 {
        /* height: 612px;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        width: 100%;
    }
    article, footer, .container-follow,section,.content-intro,.content-about,.project-details{
        
        width: 100%;
    }
    footer{
        height: 301px;
    }
    .content-about{
        height: 150px; 
    }
    #img-profile {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }
    #i {
        
        font-size: 20px;
    }
    .container-follow {
        display: flex;
        height: 246px;
    }
    .side1, .side2{
        padding: 0%;
    }
    /* text changes for mobile view */

    .content-abourname > #qualification {
        font-size: 15px;
    }
    #area {
    font-size: 15px;
   }
   .big-text{
    font-size: 10px;
   }
    #name {
        font-family: "Montserrat", sans-serif;
        font-size: 30px;
    }    
    #bt1, #bt2 {
        background-color: orangered;
        width: 80px;
        border-radius: 5px;
        padding: 2px;
        border: none;
        transition: all 800ms;
    }
    .img2{
        display: none;
    }
    .side1{
        display: none;
    }
    .head-tittle {
        font-size: 30px;
        text-align: center;
    }
    #text-skils, #big-text{
        font-size: 14px;

    }
    h2{
        font-size: 10px;
    }


    /* JavaScript */
    .action-button{
        position: absolute;
        right: 2px;
        top: 6px;
        padding: 10px;
        /* padding-left: 15px; */
        border:none;
        display: flex;
        border-radius: 10px;
        /* border-top-left-radius: 30px; */
        margin-right:5px ;
        z-index: 10;
        
    }
    #icon1{
        background-color: none;
    }

    
}